:root {
    --color-1: #0b0c10;
    --color-2: #1f2833;
    --color-3: #c5c6c7;
    --color-4: #66fcf1;
    --color-5: #45a29e;
    --color-6: #191e24;
}

body {
    margin: 0;
    background-color: var(--color-2);
    display: flex;
    font-family: 'Dosis', sans-serif;
}

input[type="radio"]:not(.create-quiz-page input[type="radio"]) {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: var(--color-1);
    color: #fff;
    display: flex;
    border-right: 1px solid black;
    flex-direction: column;
    align-items: center;
    transform: translateX(-200px);
    transition: transform 0.3s ease;
    z-index: 1;
    box-shadow: 0px 0px 5vh var(--color-1);
}

.toggle-btn {
    position: fixed;
    top: 2vh;
    left: 0;
    background-color: var(--color-1);
    color: #fff;
    border: none;
    border-left: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 2;
    transition: left 0.3s ease;
    padding: 0.5rem 1rem;
}

.toggle-btn:hover {
    background-color: var(--color-6);
}


.sidebar.active + .toggle-btn {
    left: 200px;
}

.nav-menu {
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0;
}

.nav-btn {
    padding: 0.5rem 1rem;
    background-color: var(--color-1);
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid black;
    color: var(--color-3)
}

.nav-btn:hover {
    background-color: var(--color-6);
}

.content {
    margin-left: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    border: none;
    background-color: var(--color-2);
    background-image: url('../img/image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: margin-left 0.3s ease;
}

.sidebar.active {
    transform: translateX(0);
}

/*
.content.shift {
    margin-left: 200px;
}
*/

.quiz-app-title {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 1;
}

h1.index-h1 {
    font-weight: 400;
    text-shadow: var(--color-2) 2px 2px;
    font-size: 10rem;
    color: white;
    opacity: 1;
    cursor: default;
}

h1.index-h1:hover {
    color: var(--color-4);
    border-bottom: 1px solid var(--color-5);
    transition: all 0.3s ease-in-out;
}

.search-quiz-menu {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 30%;
    margin: 0 auto;
    border: 1px solid var(--color-1);
    border-radius: 0.25rem;
    margin-top: 25vh;
    padding-bottom: 2.5vh;
    background-color: var(--color-6);
    box-shadow: 0px 10px 15px var(--color-1);
}

.search-menu-header {
    background-color: var(--color-6);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    text-align: left;
    padding-left: 2vw;
    color: var(--color-3)
}

.search-menu-h1 {
    font-weight: 200
}

.search-menu-bar {
    border-top: 1px solid var(--color-1);
    border-bottom: 1px solid var(--color-1);
    padding-left: 1vw;
    padding-right: 1.3vw;
}

#search-input {
    width: 100%;
    height: 70%;
    padding-left: 0.3rem;
    outline: none;
    border: none;
    border-radius: 0.15rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    color: var(--color-4);
    background-color: #39414b;
}

.quiz-list-container {
    background-color: var(--color-1);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    color: var(--color-3)
}


#quiz-list a {
    color: var(--color-3); 
    text-decoration: none;
}


#quiz-list a:hover {
    text-decoration-line: underline;
    background-color: var(--color-6);
}

#quiz-solving-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--color-6);
    width: 40%;
    height: 40vh;
    margin-top: 25vh;
    border-radius: 0.25rem;
    box-shadow: 0px 10px 15px var(--color-1);
}

.quiz-solving-header {
    background-color: var(--color-6);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom: 1px solid black;
}

h1.quiz-solving-title {
    color: var(--color-3);
    font-size: 1.2rem;
    padding-left: 1vw;
}

h2.quiz-solving-id {
    color: #465d66;
    font-size: 0.8rem;
    padding-left: 1.5vw;
}

#question-container {
    background-color: var(--color-1);
    color: var(--color-3);
    height: 100%;
}

h3 {
    font-size: 2rem;   
}

.option-label {
    background-color: var(--color-1);
    color: var(--color-3);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid var(--color-2); /* Button border */
}

.option-label.selected {
    background-color: var(--color-3);
    color: var(--color-1);
    border-color: var(--color-1); /* Change border color when selected */
}

.option-label:hover:not(.selected) {
    background-color: var(--color-6);
}

.next-btn {
    outline: none;
    padding: 0.5rem;
    background-color: var(--color-1);
    border: 1px solid var(--color-2);
    border-top: none;
    color: var(--color-5);
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin: 0 auto;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.next-btn:hover {
    background-color: var(--color-5);
    color: var(--color-2);
    cursor: pointer;
}
/*
#options-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
*/

#question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
}

#options-container {
    display: grid;
}

#options-container.four-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 0 auto;
}
