:root {
    /* Primary colors */
    --color-1: #c1c8e4;
    --color-2: #84ceeb;
    --color-3: #5ab9ea;
    --color-4: #5680e9;
    --color-5: #8860d0;
    --color-6: #45179b;

    /* Secondary colors */
    --color-11: #314455;
    --color-12: #644e5b;
    --color-13: #9e5a63;
    --color-14: #c96567;
    --color-15: #97aabd;

    --color-placeholder-1: #c1c8e4;
    --color-placeholder-2: #84ceeb;
    --color-placeholder-3: #5ab9ea;
    --color-placeholder-4: #5680e9;
    --color-placeholder-5: #8860d0;
}


body {
    background: linear-gradient(
        135deg,
        var(--color-2),
        var(--color-3),
        var(--color-4),
        var(--color-5)
    );
    background-size: cover; /* Fills the content area, not just the viewport */
    background-attachment: fixed; /* Makes background fixed and seamless */
    background-repeat: no-repeat; /* Prevents unwanted repetition */
    min-height: 100%; /* Ensures at least full height */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    max-height: 100%;
}

h1 {
    font-weight: 800;
    font-style: italic;
}

/*
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    pointer-events: none;
}
*/
.app-container {
    /*
    background-color: #e7ebfd;
    */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 40%;
    max-width: 90%;
    max-height: 90%;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 1vh;
    border: solid 1px var(--color-4);
    box-shadow: 0px 4px 4px #230e4b;
    flex-wrap: wrap;
}

.index-header {
    padding: 0.2rem;
    width: 98%;
    margin-bottom: 2rem;
    border-bottom: 1.5px solid var(--color-4);
    color: var(--color-6)
}

.index-body {
    width: 95%;
    margin-bottom: 1.5rem;
    border-radius: 2px;
}

.nav-grid {
    display: grid;
    grid-template-columns: 1fr; /* One column by default */
    gap: 0.3rem;
    width: 100%;
    margin: 0 auto;
}

.nav-btn {
    padding: 0.5rem;
    background-color: #bbc6eb;
    border: 1px solid var(--color-4);
    border-radius: 2px;
    text-align: center;
    font-size: 20px;
    color: var(--color-6);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.nav-btn:hover {
    background-color: var(--color-6);
    color: #b8ebff;
    border-color: var(--color-2);
}

/* For large desktops */
@media (min-width: 1200px) {
    .app-container {
        max-width: 70%; /* Narrow the content on larger screens */
        max-height: 90%;
    }
}

/* For tablets and smaller laptops */
@media (min-width: 768px) and (max-width: 1199px) {
    .app-container {
        width: 70%;
        margin-top: 5vh;
        max-height: 90%;
    }
}

/* For mobile devices */
@media (max-width: 767px) {
    .index-header {
        font-size: 1rem;
    }

    .app-container {
        margin-top: 10vh;
        width: 85%;
        height: 80%;
        max-height: 90%;
        padding: 0.5rem;
    }

    .nav-grid {
        gap: 2rem;
    }

    .nav-btn {
        padding: 2.5rem;
        font-size: 1.5rem;
    }
}



